.myButton {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 0;

}

.dark {
    background-color: rgba(0, 59, 57, 0);
    color: grey;
}

.light {
    background-color: white;
    color: grey;
}

.light:active {
    background-color: #009788;
    color: white;
}

.dark:active {
    background-color: white;
    color: #009788;
}