@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 600px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404849;
}


.App {
    font-family: 'Roboto', sans-serif;
    width: 320px;
    height: 600px;
    background-color: white;
    color: #3e3e3e;


}

.light {
    background-color: white;
}

.dark {
    background-color: #233736;
}