@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}

.icon {
    width: 28px;
    height: 24px;
    filter: invert(30%) sepia(54%) saturate(3133%) hue-rotate(156deg) brightness(98%) contrast(101%);
}

.icon--color-lightGray{
    filter: invert(96%) sepia(31%) saturate(333%) hue-rotate(162deg) brightness(101%) contrast(95%);
}
.icon--color-gray{
    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(206deg) brightness(97%) contrast(87%);
}

.button--bg-white{
    background-color: white;
}
.button--bg-lightGreen{
    background-color: #678180;
}
.button--bg-darkGreen{
    background-color: #233736;
}
.text--color-white{
    color: white;
}
.text--color-gray{
    color: #3e3e3e;
}