.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    width: 100%;
    height: 50px;
}

.light {
    background-color: white;
    color: #222222;
}

.dark {
    background-color: #233736;
    color: white;
}

.imageMenu {
    width: 18px;
    height: 18px;
}

.imageMenu:hover {
    border-radius: 25px;

}
