
.display {
    width: 100%;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-family: 'Roboto', sans-serif;

}

.calculations {
    width: 100%;
    min-height: 20px;
    max-height: 150px;
    text-align: end;
    font-size: 17px;
    color: #707070;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.inputNumbers {
    width: 100%;
    text-align: end;
    font-size: 40px;
    overflow: hidden;

}

.dark {
    color: white;
}

.light {
    color: black;
}

.inputNumbers {

}